.cart{
    border: 2px solid black;
    position: relative;
    background-color: #4CACBC;
    width: 400px;
    min-width:400px;
    position: fixed;
     top: 0;
     right: 0px;
       z-index: 1 ;
}

.icon{
    position: absolute;
    right: 3px;
    top: 3px
}

.btn_checkout{
    width: 80%;
    margin-bottom: 4px;
    margin-left: 10%;
    color: #4CACBC;
    border-radius: 5px;
}

